@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


.dev-card {
    border: 1px solid rgb(179, 177, 177);
    border-radius: 20px;
    margin: 20px;
    font-family: 'Poiret One', cursive;
    padding:20px;
    min-width: 320px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    display: inline;
    flex-direction:column;
}

img {
    width: 150px;
    height: 150px;
}

.name {
    font-weight: bold;
    
    margin-bottom: 1px;
}

.meet{
    font-family: 'Poiret One', cursive;
    font-size: 70px;
    padding-top: 120px;
    color: rgb(1, 192, 42);
    text-shadow: 2px 2px 4px  #808080;
    text-align: center;
    

}

.about {
    font-size: 75%;
}

.dev-card:hover,
.dev-card:focus {
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.soft {
    font-size:18px;
    margin-top: 1px
}

.linkedIn { 
    color: inherit;
    text-decoration: none;
} 

.linkedIn:hover {
    color: rgb(255, 0, 0);
}

.github {
    color: inherit;
    text-decoration: none;
}

.github:hover {
    color: rgb(0, 153, 0);
}

.App-header {
    min-height: 50vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    float:left;
    
}

